body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}
#calendar {
    max-width: 80%;
    margin: 0 auto;
}
#reservations-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
#reservations-table th, #reservations-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#reservations-table th {
    background-color: #c06146;
    color: white;
}
