



/* Informações do gîte */
.gites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
  
    
}

.gite {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px); /* Cada gîte ocupa 50% da largura em telas grandes */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-top: 30px;
}

.gite-text {
    padding: 20px;
    text-align: left;
    margin: 20px;
}

.gite-text h2 {
    color: var(--cor-tiki-torch);
    font-size: 2rem;
    margin-bottom: 25px;
}

.gite-text p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.gite-button {
    display: inline-block;
    background-color: var(--cor-peacoat);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: fit-content;
    text-align: center;
    margin: 20px auto;
}



.gite-button:hover {
    background-color: var(--cor-glazed-pottery);
    color:#fff;
}

.carousel-slide {
    position: relative;
    width: 90%; 
    max-width: 1200px; /* Define uma largura máxima */
    overflow: hidden; /* Garante que o conteúdo extra seja cortado */
    border-bottom-left-radius: 40px; /* Arredonda os cantos inferiores */
    border-bottom-right-radius: 40px;
    max-height: 450px; /* Define uma altura máxima */
    margin: 0 auto; /* Centraliza o contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.carousel-slide img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: 100%; /* Ajusta a altura da imagem ao contêiner */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner sem distorções */
    border-bottom-left-radius: 40px; /* Arredonda os cantos inferiores da imagem */
    border-bottom-right-radius: 40px;
}



