
.hero-section {
   
    padding: 80px 0; /* Espaçamento vertical */
  
}

.hero-section h1 {
    font-family: 'Museo W01 700', sans-serif; 
    font-size: 4rem; /* Tamanho da fonte para o título */
    color: var(--cor-tiki-torch); /* Cor vermelha */
    margin-top: 80px;
}

.hero-section p {
    font-family: 'Hind Madurai', sans-serif; /* Fonte usada no corpo do texto */
    font-size: 1.2rem;
    line-height: 1.6; /* Altura da linha para melhorar a legibilidade */
    color: #333; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento entre parágrafos */
}

.hero-section .container {
    max-width: 1300px; /* Limite da largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
   
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem; /* Ajuste do tamanho da fonte em telas menores */
    }
    .hero-section p {
        font-size: 1rem; /* Ajuste do tamanho da fonte em telas menores */
    }
}


.Fondazione {
    padding: 50px 0; /* Espaçamento vertical */
}

.Fondazione p {
    font-family: 'Hind Madurai', sans-serif; /* Fonte usada no corpo do texto */
    font-size: 1.2rem;
    line-height: 1.6; /* Altura da linha para melhorar a legibilidade */
    color: #333; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento entre parágrafos */
}

.Fondazione .container {
    max-width: 1200px; /* Limite da largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.custom-btn-Fondazione {
    display: block; /* Faz o botão ocupar toda a linha */
    width: fit-content; /* Define o tamanho com base no conteúdo */
    margin: 20px auto; /* Centraliza o botão horizontalmente */
    background-color: #ebc57c; /* Cor de fundo */
    color: #173426; /* Cor do texto */
    padding: 12px 30px; /* Espaçamento interno */
    border-radius: 50px; /* Bordas arredondadas */
    font-size: 1.2rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-decoration: none; /* Remove sublinhado */
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-btn-.Fondazione {
    background-color: #516b60; /* Cor de fundo no hover */
}